<div class="stock-panel clearfix">
    <div class="stock-info">
        <div class="headline-wrapper">
            <div class="symbol-wrapper">
                <h2 ng-click="$ctrl.print()">{{$ctrl.stock.getSymbol()}}</h2>
                <h6>{{$ctrl.stock.getMarket()}}</h6>
                <h6>Last update: {{$ctrl.stock.getLastUpdate().format('YYYY-MM-DD[T]HH:mm:ss')}}</h6>
            </div>
            <div class="update-wrapper">
                <div class="input-field first-field">
                    <select ng-model="$ctrl.selectedLookback" ng-options="item.label for item in $ctrl.lookbacks">
                    </select>
                    <label style="color: black">Lookback</label>
                </div>
                <div class="input-field second-field">
                    <select ng-model="$ctrl.selectedResolution" ng-options="item.label for item in $ctrl.resolutions">
                    </select>
                    <label style="color: black">Candle resolution</label>
                </div>
            </div>

        </div>
        <div class="plot-wrapper">
            <div stock-plot event="candleChartUpdate"></div>
        </div>
    </div>
    <div class="for-reverse">
        <stock-trades symbol="$ctrl.stock.getSymbol()"></stock-trades>
        <order-book symbol="$ctrl.stock.getSymbol()"></order-book>
    </div>
</div>