<div class="stock-panel clearfix">
    <div class="stock-info">
        <div class="headline-wrapper">
            <div class="symbol-wrapper">
                <h1 ng-click="$ctrl.print()">{{$ctrl.stock.getSymbol()}}</h1>
                <h3>{{$ctrl.stock.getMarket()}}</h3>
            </div>
            <div class="update-wrapper">
                <p>Last update: {{$ctrl.stock.getLastUpdate()}}</p>
                <div  class="input-field col s5">
                    <select ng-model="$ctrl.selectedLookback"
                        ng-options="item.label for item in $ctrl.lookbacks">
                    </select>
                    <label>Lookback</label>
                </div>
                <div  class="input-field col s5">
                    <select ng-model="$ctrl.selectedResolution"
                            ng-options="item.label for item in $ctrl.resolutions">
                    </select>
                    <label>Candle resolution</label>
                </div>
            </div>

        </div>
        <div class="plot-wrapper">
            <div stock-plot event="replot"></div>
        </div>
    </div>
    <div class="for-reverse">
        <trades></trades>
        <order-book symbol="$ctrl.stock.getSymbol()"></order-book>
    </div>
</div>