<div class="order-book">
    <div class="card">
        <preloader name="orderBook">
            <div class="cont-wrap ask-wrapper">
                <b>ASK</b>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="level in $ctrl.stock.getRecentOrderBook().getAsk() track by $index">
                            <td ng-style="$ctrl.askPriceColor($index)">{{level.Price}}</td>
                            <td>{{level.Volume}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<preloader name="recentTrade">-->
                <p>
                    <span>{{$ctrl.stock.getRecentTrade().getPrice()}}</span>
                    <span>{{$ctrl.stock.getRecentTrade().getVolume()}}</span>
                </p>
            <!--</preloader>-->
            <div class="cont-wrap bid-wrapper">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="level in $ctrl.stock.getRecentOrderBook().getBid() track by $index">
                            <td ng-style="$ctrl.bidPriceColor($index)">{{level.Price}}</td>
                            <td>{{level.Volume}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <b>BID</b>
            </div>

        </preloader>
    </div>
        <div class="ratio-over-time-wrapper card">
            <div class="oerder-books-plots-buttons clearfix">
                <div class="input-field analyze-wrapper">
                    <select ng-model="$ctrl.selectedLevel" ng-options="item.label for item in $ctrl.levels">
                    </select>
                    <label style="color: black">Analyze up to:</label>
                </div>
                <div class="input-field lookback-wrapper">
                    <select ng-model="$ctrl.selectedLookback" ng-options="item.label for item in $ctrl.lookbacks">
                    </select>
                    <label style="color: black">Lookback</label>
                </div>
            </div>
            <div stock-plot="ratioOverTime"></div>
        </div>
</div>