<div class="order-book">
    <div class="input-field">
        <select ng-model="$ctrl.selectedLevel" ng-options="item.label for item in $ctrl.levels">
        </select>
        <label style="color: black">Analyze up to:</label>
    </div>
    <div class="order-card">
        <preloader name="orderBook">
            <div class="cont-wrap ask-wrapper">
                <b>ASK</b>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="level in $ctrl.stock.getRecentOrderBook().getAsk() track by $index">
                            <td ng-style="$ctrl.askPriceColor($index)">{{level.Price}}</td>
                            <td>{{level.Volume}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<preloader name="recentTrade">-->
                <p>
                    <span>{{$ctrl.stock.getRecentTrade().getPrice()}}</span>
                    <span>{{$ctrl.stock.getRecentTrade().getVolume()}}</span>
                </p>
            <!--</preloader>-->
            <div class="cont-wrap bid-wrapper">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="level in $ctrl.stock.getRecentOrderBook().getBid() track by $index">
                            <td ng-style="$ctrl.bidPriceColor($index)">{{level.Price}}</td>
                            <td>{{level.Volume}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <b>BID</b>
            </div>

        </preloader>
    </div>
    <div class="order-books-plots">
        <div stock-plot="ratioOverTime"></div>
    </div>
</div>