<div class="row wide-screen">
    <time-panel></time-panel>
    <div class="add-symbol-panel" ng-if="!$ctrl.immutable">
        <div id="toggle-input" class="input-field col s3 offset-s2">
            <input id="last_name_ws" ng-model="$ctrl.newSymbol" type="text">
            <label for="last_name_ws">Add symbol</label>
        </div>
        <div ng-click="$ctrl.addSymbol()" id="toggle-btn" class="input-field col s1">
            <a class="waves-effect waves-light btn light blue">ADD</a>
        </div>
    </div>
</div>

<navigation-bar ng-if="$ctrl.pagesAmount > 1"></navigation-bar>

<div class="stock-panel-list">
    <stock-panel ng-repeat="stock in $ctrl.currentPage" stock="stock"></stock-panel>
</div>

<navigation-bar ng-if="$ctrl.pagesAmount > 1"></navigation-bar>