/* app css stylesheet */

* {
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7f7f7f+0,7a8c87+15,98baa1+36,c0d3a5+53,c0d3a5+69,c0d3a5+87,7db9e8+100 */
    background: -moz-linear-gradient(top, #7f7f7f 0%, #7a8c87 15%, #98baa1 36%, #c0d3a5 53%, #98baa1 69%, #7a8c87 87%, #7f7f7f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7f7f7f 0%, #7a8c87 15%, #98baa1 36%, #c0d3a5 53%, #98baa1 69%, #7a8c87 87%, #7f7f7f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7f7f7f 0%, #7a8c87 15%, #98baa1 36%, #c0d3a5 53%, #98baa1 69%, #7a8c87 87%, #7f7f7f 100%)!important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.auth-block {
    margin: auto;
    height: 400px;
    width: 25%;
    background-color: rgba(155, 182, 196, .4);
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
}

.auth-form {
    padding-top: 16%;
}

.auth-wrapper {
    width: 90%;
    padding-left: 10%!important;
}

.auth-btn {
    width: 100%!important;
    text-align: center;
    padding-top: 10%;
}

.auth-field {
    width: 100%!important;
    text-align: center;
}

.nav-wrapper {
    background-color: rgba(155, 182, 196, .4);
    height: 70px;
    padding-left: 20px;
    padding-top: 7px;
}


/* .nav-btn {
    float: right;
    width: auto!important;
    margin-top: .7rem!important;
    padding-right: 2rem!important;
} */

.pagination-wrapper {
    text-align: center;
}

.pagination-wrapper.bottom {
    padding-bottom: 2%;
}

.pagination li.active {
    background-color: #212121;
}

.row {
    padding: 2% 0 0;
}


/* label focus color */

.input-field input:focus+label {
    color: rgba(33, 33, 33, .6) !important;
}

.input-field input+label {
    color: rgba(33, 33, 33, .6) !important;
}


/* label underline focus color */

.input-field input {
    border-bottom: 1px solid #212121 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #212121 !important;
    box-shadow: 0 1px 0 0 #212121 !important
}


/* Tabels hover-effect color */

table.highlight>tbody>tr:hover {
    background-color: rgba(255, 255, 255, .2)
}

thead {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.stock-panel-list {
    width: 100%;
    height: auto;
}

.stock-panel {
    background-color: rgba(155, 182, 196, .4);
    margin: 2%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
}

.stock-info {
    width: 40%;
    float: left;
    padding-bottom: 2%;
}

.headline-wrapper {
    display: flex;
}

.symbol-wrapper {
    flex-direction: row;
    padding: 3% 8% 1% 3%;
}

.update-wrapper {
    text-align: left;
    padding: 6% 0 1% 0;
}

.input-field {
    width: 45%;
}

.first-field {
    float: left;
}

.second-field {
    float: right;
}

.plot-wrapper {
    width: 100%;
    padding-left: 3%;
}

.svg-container:nth-child(odd),
.svg-container:nth-child(even) {
    max-width: 100%;
}

.main-svg {
    max-width: 100%;
}

.plot-wrapper>div {
    opacity: .7;
}


/* Changing plot's border-radius*/

.main-svg {
    border-radius: 10px;
}

.trades-wrapper {
    float: left;
    width: 40%;
    padding: 1% 1% 3% 1%;
}

.trades-wrapper>h5 {
    margin-top: 1.9%;
}

.trades-levels-wrapper {
    padding-top: 2%;
    float: left;
    width: 45%;
    height: 200px;
}

.trades-frequencies-wrapper {
    padding-top: 2%;
    float: right;
    width: 55%;
    height: 200px;
}

.order-book {
    padding: 2% 0%;
    width: 20%;
    float: right;
}

.order-book>p {
    text-align: center;
}

.cont-wrap {
    width: 100%;
    text-align: center;
}

.ask-wrapper {
    padding-bottom: 6%;
}

.bid-wrapper {
    padding-top: 6%;
}

@media (max-width: 1450px) {
    .stock-info {
        float: none;
        width: 100%;
        padding-right: 3%;
    }
    .headline-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .update-wrapper {
        flex-direction: row;
        padding: 5% 0 1% 0;
    }
    .trades-wrapper {
        width: 50%;
        padding: 0.7% 1% 3% 1%;
    }
    .order-book {
        width: 50%;
    }
    .auth-block {
        width: 35%;
    }
}

@media (max-width: 900px) {
    .for-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .trades-wrapper {
        width: 100%;
        padding: 1% 1% 3% 1%;
        float: left;
    }
    .order-book {
        float: none;
        width: 100%;
    }
    .auth-row {
        padding: 25% 0;
    }
    .auth-block {
        height: 360px;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .symbol-wrapper {
        padding: 10% 1% 1% 3%;
    }
    .input-field {
        width: 100%;
    }
    .first-field {
        float: none;
    }
    .second-field {
        float: none;
    }
    .auth-block {
        height: 400px;
        width: 80%;
    }
}

@media (max-width: 400px) {
    .headline-wrapper {
        flex-direction: column;
    }
    .symbol-wrapper {
        text-align: center;
    }
    .update-wrapper {
        text-align: center;
        padding: 5% 2% 1% 4%;
    }
    .auth-row {
        padding: 15% 0;
    }
    .auth-block {
        height: 320px;
        width: 80%;
    }
}