/* app css stylesheet */
*{
    padding: 0;
    margin: 0;
}

.nav-wrapper {
    background-color: #7c7b7b;
    height: 70px;
    padding-left: 20px;
    padding-top: 7px;
}

.stock-panel {
    display: flex;
    background-color: #d1f0ff;
    margin: 3% 2% 0 2%;
}
.stock-info{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    flex-wrap: wrap;
}
.headline-wrapper{
    display: flex;
}
.symbol-wrapper{
    flex-direction: row;
    padding: 4% 10% 2% 3%;
    flex-grow: 1;
}
.update-wrapper{
    text-align: right;
    flex-grow: 3;
    padding: 4% 0 2% 0;
}
.plot-wrapper{
    display: flex;
    align-content: stretch;
    flex: 1;
    /*height: 100%;*/
    /*width: 100%;*/
    padding: 2% 0 2% 4%
}
.plot-wrapper>div{
    display: flex;
    height: 180%;
    width: 70%;
}
.ask-wrapper{
    width: 100%;
    color: red;
    padding-bottom: 10%;
}
.bid-wrapper{
    padding-top: 10%;
    width: 100%;
    color: limegreen;
}
.order-book{
    padding-top: 25%;
    padding-left: 10%;
    display: flex;
    flex-grow: 1;
    flex: 1;
    flex-direction: column;
    width: 250px;
    text-align: center;
    align-items: center;
    /*flex-grow: 3;*/
    font-size: 1.3em;
}
.order-book > table{
    border-collapse: collapse;
    width: 300px!important;

}

.order-book > table, td{
    border: 2px solid dimgrey;
}

.order-book > td{
    height: 50px;
    width: 60px;
}