<div class="order-book">
    <div class="order-card">
        <preloader on-pre-load="orderBookLoading" on-loaded="orderBookLoaded">
            <div class="cont-wrap ask-wrapper">
                <b>ASK</b>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="level in $ctrl.orderbook.getAsk()">
                            <td>{{level.Price}}</td>
                            <td>{{level.Volume}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <preloader on-pre-load="recentTradeLoading" on-loaded="recentTradeLoaded">
                <p>
                    <span>{{$ctrl.recentTrade.getPrice()}}</span>
                    <span>{{$ctrl.recentTrade.getVolume()}}</span>
                </p>
            </preloader>
            <div class="cont-wrap bid-wrapper">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="level in $ctrl.orderbook.getBid()">
                            <td>{{level.Price}}</td>
                            <td>{{level.Volume}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <b>BID</b>
            </div>

        </preloader>
    </div>
</div>