<div class="order-book">
    <div class="cont-wrap ask-wrapper">
        <b>ASK</b>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="level in $ctrl.data.Ask">
                    <td>{{level.Price}}</td>
                    <td>{{level.Volume}}</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>
        <span>{{$ctrl.recentTrade.price}}</span>
        <span>{{$ctrl.recentTrade.size}}</span>
    </p>
    <div class="cont-wrap bid-wrapper">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="level in $ctrl.data.Bid">
                    <td>{{level.Price}}</td>
                    <td>{{level.Volume}}</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <b>BID</b>
    </div>
</div>