<div class="settings-button">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">
        <i class="small material-icons">settings</i>
    </a>
</div>

<div id="modal2" class="modal">
    <div class="modal-content">
        <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Trades refresh rate</label>
        </div>
        <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>Order book refresh rate</label>
        </div>
        <!-- <div class="input-field trades-refresh-rate">
            <select ng-model="$ctrl.selectedTRate" ng-options="">
            </select>
            <label style="color: black">Analyze up to:</label>
        </div>
        <div class="input-field order-book-refresh-rate">
            <select ng-model="$ctrl.selectedOBRate" ng-options="">
            </select>
            <label style="color: black">Lookback</label>
        </div> -->
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>