<div class="row wide-screen">
    <div id="toggle-panel" class="time-panel col s3">
        <i class="small material-icons">access_time</i>
        <div class="pst">
            <h5>11:53 AM</h5>
            <p>pst</p>
        </div>
        <div class="vl"></div>
        <div class="est">
            <h5>2:53 PM</h5>
            <p>est</p>
        </div>
        <div class="vl"></div>
        <div class="utc">
            <h5>7:53 PM</h5>
            <p>utc</p>
        </div>
    </div>
    <div id="toggle-input" class="input-field col s3 offset-s4">
        <input id="last_name_ws" ng-model="$ctrl.newSymbol" type="text">
        <label for="last_name_ws">Add symbol</label>
    </div>
    <div ng-click="$ctrl.addSymbol()" id="toggle-btn" class="input-field col s1">
        <a class="waves-effect waves-light btn light blue">ADD</a>
    </div>
</div>

<navigation-bar ng-if="$ctrl.pagesAmount > 1"></navigation-bar>

<div class="stock-panel-list">
    <stock-panel ng-repeat="stock in $ctrl.currentPage" stock="stock"></stock-panel>
</div>

<navigation-bar ng-if="$ctrl.pagesAmount > 1"></navigation-bar>

<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <p class="footer-text">Property of Zulu Quant for monitoring trades, market movements, and research.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>© 2018 Zulu quant</p>
        </div>
    </div>
</footer>