/* app css stylesheet */

* {
    padding: 0;
    margin: 0;
}


/* .preloader-content {
    height: 0;
    width: 0;
} */

preloader {
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background: #eeeeee;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.auth-block {
    margin: auto;
    height: 400px;
    width: 25%;
    background-color: rgba(155, 182, 196, .4);
    border-radius: 10px;
    -webkit-box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 29px -7px rgba(0, 0, 0, 0.75);
}

.auth-form {
    padding-top: 16%;
}

.auth-wrapper {
    width: 90%;
    padding-left: 10%!important;
}

.auth-btn {
    width: 100%!important;
    text-align: center;
    padding-top: 10%;
}

.auth-field {
    width: 100%!important;
    text-align: center;
}

.nav-wrapper {
    /* background-color: rgba(155, 182, 196, .4); */
    height: 70px;
    padding-left: .7rem;
    padding-top: .1rem;
}

.brand-logo-img {
    height: 4rem;
}

.nav-btn {
    float: right;
    width: auto!important;
    margin-top: -.1rem!important;
    padding-right: 2rem!important;
}

.modal-content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-content: center; */
    align-items: center;
}

.modal-content>h1 {
    margin-top: 6%;
}

.modal-content>.nav-btn {
    /* display: block;
    width: 50%;
    margin: auto!important;
    height: 30%;
    margin: 5rem 2rem 2rem !important; */
    margin: 0 auto 2rem;
    width: 100%;
    padding-top: 3rem;
    padding-right: 0!important;
}

.modal-content>h4 {
    padding-top: 2rem;
    text-align: center;
}

.modal-content>.btn>p {
    font-size: 2rem;
    margin: 1rem;
}

.modal-content>.btn>p>span {
    text-transform: lowercase;
}


/* preloader {
    margin-left: 45%;
} */

.preloader-wrapper {
    width: 100%;
    margin-left: 45%;
}

.pagination-wrapper {
    text-align: center;
    padding-bottom: 2%;
}

.pagination-wrapper.bottom {
    padding-bottom: 2%;
}

.pagination li.active {
    background-color: #212121;
}

.row {
    padding: 2% 0 0 2%;
}

.time-panel {
    /* margin: 1% 0% 0% 2%!important; */
    display: flex;
    justify-content: space-between;
}

.time-panel>.material-icons {
    padding-top: .4rem;
}

.vl {
    width: 0.01px;
    background-color: black;
    height: 3em;
    float: left;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
}


/* label focus color */

.input-field input:focus+label {
    color: rgba(0, 0, 0, 0.3) !important;
    font-family: 'Roboto', sans-serif;
}

.input-field input+label {
    color: rgba(0, 0, 0, 0.3) !important;
    font-family: 'Roboto-thin', sans-serif;
}


/* label underline focus color */

.input-field input {
    border-bottom: 1px solid #03a9f4 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #03a9f4!important;
    box-shadow: 0 1px 0 0 #03a9f4 !important
}

ul.dropdown-content.select-dropdown li span {
    color: #03a9f4;
}


/* Tabels hover-effect color */


/* table {
    border-collapse: collapse;
} */

table.highlight>tbody>tr:hover {
    background-color: rgba(3, 169, 244, 0.2)
}

tr {
    border: solid 1px #03a9f4;
}

td,
th {
    border-right: solid 1px #03a9f4;
    border-left: solid 1px #03a9f4;
    padding: 0 .2rem;
}

thead {
    border-bottom: 1px solid rgba(3, 169, 244, 1)
}

.stock-panel-list {
    width: 100%;
    height: auto;
}

.stock-panel {
    background-color: #fafafa;
    margin: 0% 2% 2% 2%;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.stock-info {
    width: 40%;
    float: left;
    padding-bottom: 1%;
}

.headline-wrapper {
    display: flex;
}

.symbol-wrapper {
    flex-direction: row;
    padding: 3% 1% 1% 3%;
    flex-grow: 3;
}

.update-wrapper {
    text-align: left;
    padding: 4.5% 0 1% 0;
    flex-grow: 1;
}

.input-field {
    width: 45%;
}

.first-field {
    float: left;
}

.second-field {
    float: right;
}


/*Panel's card style*/

.trades-levels-card,
.trades-frequencies-card,
.trades-card,
.order-card {
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: .4rem;
}

.trades-card {
    padding: 0 .4rem .8rem .4rem;
}


/* Syles for plots*/

.plot-wrapper {
    width: 100%;
    padding-left: 3%;
}

.svg-container:nth-child(odd),
.svg-container:nth-child(even) {
    max-width: 100%;
}

.main-svg {
    width: 100%;
}

.plot-wrapper>div,
.trades-levels-wrapper>div,
.trades-frequencies-wrapper>div {
    opacity: 1;
}

.main-svg {
    border-radius: 10px;
}

.trades-wrapper {
    float: left;
    width: 40%;
    padding: 1%;
}

.trades-table-wrapper {
    height: 17rem;
    width: 100%;
    overflow-y: scroll;
}

.trades-card>h5 {
    margin-top: 1.9%;
    padding-bottom: .4%;
}

.trades-levels-wrapper {
    padding-top: 7%;
    float: left;
    width: 49.5%;
    height: auto;
}

.trades-frequencies-wrapper {
    padding-top: 7%;
    float: right;
    width: 49.5%;
    height: auto;
}

.trades-levels-wrapper>h5,
.trades-frequencies-wrapper>h5 {
    padding-bottom: 2%;
}


/*----------------------------*/


/*-------------LOADER----------*/

loader {
    padding-left: 46%;
}


/*----------------------------*/

.order-book {
    padding: 1.8% 1% 0 0;
    margin-bottom: 1%;
    width: 20%;
    float: right;
}

.order-book>p {
    text-align: center;
}

.cont-wrap {
    width: 100%;
    text-align: center;
}

.cont-wrap>table>tbody>td {
    padding: 0px!important;
}

.ask-wrapper {
    padding-bottom: 3%;
}

.bid-wrapper {
    padding-top: 3%;
}

.auth-page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    color: #fff;
}

.page-footer {
    position: relative;
    width: 100%;
}

.page-footer *,
.auth-page-footer * {
    padding-top: 0!important;
    padding: 0;
    margin: 0;
    width: 100%;
}

.page-footer>.container,
.auth-page-footer>.container {
    padding: 1rem 0 3rem 1rem;
}

.footer-copyright {
    padding: 1rem!important;
}

.footer-text {
    font-style: italic;
}

@media (max-width: 1450px) {
    .stock-info {
        float: none;
        width: 100%;
        padding-right: 3%;
    }
    .headline-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .update-wrapper {
        flex-direction: row;
        padding: 5% 0 1% 0;
    }
    .trades-wrapper {
        width: 50%;
        padding: .8% 1% 1% 1%;
    }
    .ask-wrapper {
        padding-bottom: 1.5%;
    }
    .bid-wrapper {
        padding-top: 1.5%;
    }
    /* .trades-wrapper>h5 {
        padding-left: 3%;
        margin-top: 1.7%;
    } */
    .trades-card {
        margin-left: 1%;
    }
    .trades-levels-wrapper,
    .trades-frequencies-wrapper {
        padding: 5% 0% 1% 1%;
    }
    .order-book {
        width: 50%;
        padding: 1.8% 1.5% 0% 1%;
        margin-bottom: 0;
    }
    .auth-block {
        width: 35%;
    }
}

@media (max-width: 900px) {
    .for-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .trades-wrapper {
        width: 100%;
        padding: 1% 2% 3% 2%;
        float: left;
    }
    .trades-card {
        margin-left: 0;
    }
    .trades-levels-wrapper,
    .trades-frequencies-wrapper {
        padding: 5% 0%;
    }
    .trades-wrapper>h5 {
        padding-left: 0%;
        margin-top: 1.7%;
    }
    .trades-table-wrapper {
        padding-left: 0%;
    }
    .order-book {
        float: none;
        width: 100%;
        padding: 2% 2% 0% 2%;
    }
    .auth-row {
        padding: 25% 0;
    }
    .auth-block {
        height: 360px;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .symbol-wrapper {
        padding: 10% 1% 1% 3%;
    }
    .input-field {
        width: 100%;
    }
    .first-field {
        float: none;
    }
    .second-field {
        float: none;
    }
    .auth-block {
        height: 400px;
        width: 80%;
    }
}

@media (max-width: 420px) {
    .headline-wrapper {
        flex-direction: column;
    }
    .symbol-wrapper {
        text-align: center;
    }
    .update-wrapper {
        text-align: center;
        padding: 5% 2% 1% 4%;
    }
    .auth-row {
        padding: 15% 0;
    }
    .auth-block {
        height: 320px;
        width: 80%;
    }
    .trades-levels-wrapper,
    .trades-frequencies-wrapper {
        width: 100%;
    }
    .trades-frequencies-wrapper {
        float: none;
        clear: both;
    }
}